<h1 class="titulo">PROFESORES NOVATEC</h1>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Correo</th>
      <th>Especialidad</th>
      <th>Fecha Contrato</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let profesor of profesores">
      <td>{{ profesor.nombre }}</td>
      <td>{{ profesor.edad }}</td>
      <td>{{ profesor.correo }}</td>
      <td>{{ profesor.especialidad }}</td>
      <td>{{ profesor.fechaContrato }}</td>
      <td>
        <button class="delete-button" (click)="delete(profesor.id)"><i class="fas fa-trash"></i></button>
        <button class="edit-button" (click)="buscarProfesor(profesor.id)"><i class="fas fa-pencil-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div class="button-container">
  <button class="create-button" (click)="crearProfesor()">Nuevo Profesor</button>
</div>